@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("~/Views/AdminLayout/headPartial.cshtml")

<body>

    <!-- ======= Header ======= -->
    @await Html.PartialAsync("~/Views/AdminLayout/headerPartial.cshtml")
    <!-- ======= Sidebar ======= -->
    @await Html.PartialAsync("~/Views/AdminLayout/sidebarPartial.cshtml")
    <main id="main" class="main">

        <div class="container">
            @RenderBody()
        </div>

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    @await Html.PartialAsync("~/Views/AdminLayout/footerPartial.cshtml")
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    @await Html.PartialAsync("~/Views/AdminLayout/scriptPartial.cshtml")

</body>
</html>
