@using InciAlbum.EntityLayer.Concrete
@model List<myService>
<section class="services py-lg-5 py-3" id="services">
	<div class="container-fluid">
		<div class="inner-sec-w3ls-agileits p-lg-5 p-3">
			<div class="row">
				<div class="col-lg-3 header-info two mt-5">
					<h3 class="heading">Hizmetlerimiz</h3>
					<p>Güncel Hizmetlerimize</p>

				</div>
				<div class="col-lg-9 ser-cont-right">
					<div class="row service_grids">
						@foreach (var item in Model)
						{
							<div class="col-md-4 ser_grid1">
								<i class="@item.icon"></i>
								<h3>@item.tittle</h3>
								<p>@item.descreption</p>
								@* <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-sm animated-button gibson-three mt-3">Read More</a> *@
							</div>
						}
						

					</div>
				</div>
			</div>
		</div>
	</div>
</section>